#dm-tools {
  height: 1200px;
  background-color: #E6E6E6;
}

#dungeons-and-dragons {
  display: flex;
}

.main {
  width: 100%;
}

.sidebar {
  height: 100%;
  text-align: right;
}

.container {
  height: 100%;
}

.tool-opts {
  height: 100%;
}

.init-roll {
  float: right;
}

.encounter-list a {
  display: flex;
  justify-content: space-around;
}

.encounter-list-name {
  align-self: flex-start;
  width: 33%;
}
