#dm-tools {
  height: 1200px;
  background-color: #E6E6E6;
}

#dungeons-and-dragons {
  display: flex;
}

.main {
  width: 100%;
}

.sidebar {
  height: 100%;
  text-align: right;
}

.container {
  height: 100%;
}

.tool-opts {
  height: 100%;
}

.init-roll {
  float: right;
}

.encounter-list a {
  display: flex;
  justify-content: space-around;
}

.encounter-list-name {
  align-self: flex-start;
  width: 33%;
}

.spell-toggle {
  margin: 5px;
  width: 120px;
}

.school-filter-active {
  background: #EFEFEF;
  color: #ACACAC;
}


.paginator {
  position: absolute;
  height: 300px;
  top: 150px;
  left: 0;
  width: 125px;
}

.paginator.paginator-scroll {
  position: fixed;
  left: 0;
  top: 0;
}

.pagination-flex {
  display: flex;
  flex-flow: column;
  padding-left: 0;
  width: 100%;
  align-items: center;
}

.pagination-flex > li {
  display: inline;
  padding: 0.25em 0 0.25em 0;
}

.pagination-flex a {
  text-align: center;
}

.possible-paths {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.stat-blocks {
  float: right;
}
