#dm-tools {
  height: 1200px;
  background-color: #E6E6E6;
}

.container {
  height: 100%;
}

.tool-opts {
  height: 100%;
}

.init-roll {
  float: right;
}

.encounter-list a {
  display: flex;
  justify-content: space-around;
}

.encounter-list-name {
  align-self: flex-start;
  width: 33%;
}
